{#
/**
 * @file
 * Slider Component.
 * Proprietes
 *  dots: true|false
 *  infinite: true|false
 *  fade: true|false,
 *  arrows: true|false,
 *
 * Slots
 *  slide_slot_main
 */
#}

{# Set default value #}
{% if dots is not defined %}
  {% set dots = 'true' %}
{% else %}
  {% set dots = dots ? 'true' : 'false' %}
{% endif %}

{% if autoplay is not defined %}
  {% set autoplay = 'false' %}
{% else %}
  {% set autoplay = autoplay ? 'true' : 'false' %}
{% endif %}

{% if autoplaySpeed is not defined %}
  {% set autoplaySpeed = 2000 %}
{% endif %}

{% if arrows is not defined %}
  {% set arrows = 'true' %}
{% else %}
  {% set arrows = arrows ? 'true' : 'false' %}
{% endif %}

{% set infinite = infinite ? 'true' : 'false' %}
{% set fade = fade ? 'true' : 'false' %}

{# Create attributres #}
{% set slider_attributes = slider_attributes ?: create_attribute() %}

{# Component classes #}
{% set slider_classes = [
  'slider',
  'full',
]|merge(slider_classes ?: []) %}

{# Add extra test #}
{% set slider_attributes = slider_attributes.setAttribute('data-dots', dots) %}
{% set slider_attributes = slider_attributes.setAttribute('data-infinite', infinite) %}
{% set slider_attributes = slider_attributes.setAttribute('data-arrows', arrows) %}
{% set slider_attributes = slider_attributes.setAttribute('data-fade', fade) %}
{% set slider_attributes = slider_attributes.setAttribute('data-autoplay', autoplay) %}
{% set slider_attributes = slider_attributes.setAttribute('data-autoplay-speed', autoplaySpeed) %}

<div class="grid-container">
  <div{{ slider_attributes.addClass(slider_classes) }}>
    {% block slide_slot_main %}
      {{ content }}
    {% endblock %}
  </div>
</div>
