.paragraph--edw-carousel-item--default {
  isolation: isolate;
  color: white;

  padding-block-start: var(--_top_height);

  &.grid-container {
    max-width: calc(100vw - 160px);
    margin-inline: auto;
    display: grid !important;
  }

  .slide-item__media {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      max-width: 100vw;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      inset: 0;
      position: absolute;
      z-index: 1;
    }
  }

  .w-content {
    aspect-ratio: 16 / 9;
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .field-title {
    font-size: var(--fs-h1);
    font-weight: var(--h-fw);
    margin-block-end: 0.5em;
  }

  .field-description {
    font-size: 20px;
  }

  .field-link {
    margin-block-start: 20px;
  }
}
